@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  background-color: #b07481;
}

.App-link {
  color: #61dafb;
}

.c-button02 {
  background-color: yellow;
}

#file-upload-button {
  border: none;
}