@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  background-color: #b07481;
  font-family: 'Hina Mincho', serif;
}
.c-box01 {
  min-height: 440px;
}
.c-reset-button:hover {
  opacity: .8;
}
.l-upload-box {
  transition: all .3s;
}
.image02 {
  animation: shake 4s ease infinite;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0);
  }
  60% {
    transform: translateX(4px);
  }
  80% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0);
  }
}